# Virtual Environments
venv/
.venv/
env/
ENV/

# Python caching
**/__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env
.env.*
!.env.example

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.swp
*.swo

# Operating System files
Thumbs.db
Desktop.ini